<%= render "shared/header" %>
<div class="main">
  <br><br>
  ＜DishMakerとは？＞<br>
  openAIのAPIを利用した料理の提案アプリです。<br>
  冷蔵庫の中身を入力すると、調理可能な料理を提案します。<br><br>
  <% if user_signed_in? %>
    <%= link_to '料理を聞く', fridge_path(current_user.id), class: "main-btn"%>
    <% else %>
    <%= link_to 'アカウントを作成する', new_user_registration_path, class: "main-btn" %>
  <% end %>
</div>
<%= render "shared/footer" %>

<style>
.main{
  text-align: center;
}
.main-btn{
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #000000;
}
</style>
