<header> 
  <div class="header">
    <%= link_to 'Dish Maker', root_path, class: "logo" %>
    <div class="header-user">
      <%= link_to 'ログイン', root_path, class: "header-btn" %>
      <%= link_to '新規登録', root_path, class: "header-btn" %>
    </div>
  </div>
  <div class="sub-header"></div>
</header>